@font-face{
    font-family: iranian-sans;
    src: url(Font-web/Iranian\ Sans.ttf);
}

body{
    margin: 0;
    font-family: iranian-sans;
}

header{
    background-color:#fff ;
    box-shadow: 0 0 5px gray;
}

header div.main-header{
    height: 64px;
}
div.main-header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

}
nav .main-menu{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    
}


 div.main-header a{
    text-decoration: none;
    color: rgb(0,0,0,0.87);
    padding: 0px 16px;
    font-weight: bold;
    font-size: 14px;
}

nav ul.main-menu>li::after{
    content: " \26B6";
    font-weight: bold;
    
    
}
.main-header a:hover{
    background-color: rgb(218, 214, 214);
    height: 30px;
    padding: 20px;
}
button.btn1{
    font-size: 14px;
    width: 106px;
    height: 34px;
    padding: 0px 12px;
    margin: 0px 8px;
    box-sizing: content-box;
    color: #1976d2;
    border: 1px solid #1976d2;
    border-radius: 28px;
    background-color: transparent;
}
button.btn1:hover{
    background-color:#d0e2f2; 
}






header div.sub-header{
    height: 102px;
}

main{
    border: 1px solid yellow;
    margin-top: 30px;
}

footer{
    border: 1px solid red;
}