@font-face {
    font-family: iranian-sans;
    src: url(Font-web/Iranian\ Sans.ttf );
}
:root{
    font-size: 16px;
}

body {
    margin: 0;
    font-family: iranian-sans;
    background-color: #f5f5f5;

}

header {
    background-color: #fff;
    box-shadow: 0 0 5px gray;
   position: fixed;
   top: 0;
   z-index: 5;
    width: 100%;
}

header div.super-header {
    height: 4rem;
}

div.super-header {
    display: flex;
    align-items: baseline;

}

nav .main-menu {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    min-width: 8.75rem;

}


div.super-header a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.87);
    padding: 0 1rem;
    font-weight: bold;
    font-size: 1rem;
}

nav ul.main-menu>li::after {
    content: "\2B9F";
    


}
.super-header ul.main-menu>li:hover{
    background-color: rgb(218, 214, 214);
    height: 2rem;
    padding: 0.8rem;
    transition: all 3s cubic-bezier(.4,0,.2,1);
   
   
    
}
.super-header ul.main-menu>li:active{
    
    background-color: rgb(81, 76, 76);

 }

.super-header a:hover {
    background-color: rgb(218, 214, 214);
    height: 2rem;
    padding: 0.8rem;
    transition: all 3s cubic-bezier(.4,0,.2,1);
}

.super-header a:active{
    background-color: rgb(81, 76, 76);

}

button.btn1 {
    font-size: 0.9rem;
    width: 9rem;
    height: 2.4rem;
    padding: 0 0.85rem;
    margin: 0 0.57rem;
    box-sizing: content-box;
    color: #1976d2;
    border: 1px solid #1976d2;
    border-radius: 2rem;
    background-color: transparent;
    font-family: inherit;
}

button.btn1:hover {
    background-color: #d0e2f2;
}
button.btn2{
    width: 12rem;
    height: 2.57rem;
    padding: 0 0.9rem;
    font-size: 0.9rem;
    border-color: transparent;
    outline: 0;
    border-radius: 2rem;
    color: #ffffff;
    background-color: #1976d2;
    box-shadow: 0 2px 2px 0px rgba(0,0,0,.14);
    font-family: inherit;
}

   button>span::after{
    content: '\f234';
    font:normal normal normal 14px/1 FontAwesome;
    color: #ffffff;
    font-weight: bold;

   }

div.bottom-header {
    height: 6rem;
    display: flex;

    
}
div.anchor{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
div.anchor a{
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 0.25rem; 
    margin-right: 0.25rem;  
    font-size: 1rem; 
    color: black;
    font-weight: bold;
    text-decoration: none;
    

}
div.inp{
    width: 25%;
   
}
div.inp input[type="search"]{
    width: 100%;
    height: 2.3rem;
    padding: 0.5rem 0;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 1.2rem;
    outline: 0;
    border: 1px solid black;
    font-family: inherit;
    margin-top: 2rem;
    line-height: 1.25rem;
}
div.inp input[type="search"]:focus{
    outline: 0.5px solid #1976d2;
}
div.main-body{
    border: 1px solid red;
    background-color:  #f5f5f5;
    border-color: #f5f5f5;
    width: 100%;
    height: 161rem;
    max-width: 100%; 
    padding: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;
    }
    


div.slid-show {
    border: 1px solid rgb(4, 255, 0);
    width: 100%;
    max-width: 100%;
    height: 37.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: inherit;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 0.5rem;
    background-color: rgb(0, 0, 0,0);
    background-image: url(assets/picture-slide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}




footer {
    border: 1px solid red;
}

